[Unit]
Description=Bughouse server
After=network.target
StartLimitIntervalSec=0
OnFailure=notify-email@%i.service

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/bughouse-chess/prod/bin/bh_run_server
TimeoutStopSec="infinity"

[Install]
WantedBy=multi-user.target
