[Unit]
Description=Bughouse server
After=network.target
StartLimitIntervalSec=0
OnFailure=bughouse-handle-failure.service

[Service]
Type=simple
# Restarting breaks `OnFailure`
Restart=no
User=root
ExecStart=/root/bughouse-chess/prod/bin/bh_run_server
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
