[package]
name = "bughouse_console"
version = "0.1.0"
authors = ["Andrei Matveiakin <a.matveiakin@gmail.com>"]
edition = "2021"

[dependencies]
anyhow = "1.0.69"
async-std = { version = "1.12.0", features = ["tokio1"] }
async-tungstenite = "0.20.0"
crossterm = "0.26.0"
console = "0.15.5"
clap = { version = "4.1.6", features = ["cargo"] }
ctrlc = "3.2.5"
enum-map = "2.4.2"
env_logger = "0.10.0"
futures-io = "0.3.26"
futures-util = "0.3.26"
http = "0.2.8"
http-types = { version = "2.12.0", features = ["hyperium_http"] }
instant = "0.1.12"
itertools = "0.10.5"
log = "0.4.17"
oauth2 = "4.3.0"
rand = "0.8.5"
reqwest = { version = "0.11.14", features = ["json"] }
scopeguard = "1.1.0"
tide-jsx = "0.4.0"
tungstenite = "0.18.0"
url = "2.3.1"
serde = "1.0.152"
serde_json = "1.0.93"
sqlx = { version = "0.6.2", features = ["postgres", "sqlite", "runtime-async-std-rustls", "time"] }
tide = "0.16.0"
time = "0.3.18"
uuid = { version = "1.3.0", features = ["v4"] }

bughouse_chess = { path = ".." }
