[package]
name = "bughouse_console"
version = "0.1.0"
authors = ["Andrei Matveiakin <a.matveiakin@gmail.com>"]
edition = "2021"

[features]
strict = []  # treat warnings as a build error

[dependencies]
anyhow = "1.0.68"
argon2 = "0.5.0"
async-std = { version = "1.6.5", features = ["tokio1"] }
async-tungstenite = "0.19.0"
censor = "0.3.0"
clap = { version = "4.0.29", features = ["cargo"] }
console = "0.15.2"
crossterm = "0.25.0"
ctrlc = "3.2.4"
enum-map = "2.4.1"
env_logger = "0.10.0"
futures-io = "0.3.25"
futures-util = "0.3.25"
http = "0.2.8"
http-types = { version = "2.12.0", features = ["hyperium_http"] }
humantime = "2.1.0"
instant = "0.1.12"
itertools = "0.10.5"
log = "0.4.17"
oauth2 = "4.3.0"
plotly = "0.8.3"
rand = "0.8.5"
reqwest = { version = "0.11.14", features = ["json"] }
scopeguard = "1.1.0"
serde = "1.0.149"
serde_json = "1.0.89"
serde_yaml = "0.9.21"
skillratings = "0.22.0"
sqlx = { version = "0.6.2", features = ["postgres", "sqlite", "runtime-async-std-rustls", "time"] }
tide = "0.16.0"
tide-jsx = "0.4.0"
time = "0.3.17"
tungstenite = "0.18.0"
unicode-normalization = "0.1.22"
unicode-segmentation = "1.10.1"
url = "2.3.1"
uuid = { version = "1.2.2", features = ["v4"] }

bughouse_chess = { path = ".." }

