[package]
name = "bughouse_console"
version = "0.1.0"
authors = ["Andrei Matveiakin <a.matveiakin@gmail.com>"]
edition = "2021"

[dependencies]
crossterm = "0.23.2"
console = "0.15.0"
clap = { version = "3.1.9", features = ["cargo"] }
enum-map = "2.1.0"
env_logger = "0.9.0"
instant = "0.1.12"
itertools = "0.10.3"
log = "0.4.17"
regex = "1.6.0"
scopeguard = "1.1.0"
tungstenite = "0.17.2"
url = "2.2.2"
serde = "1.0.136"
serde_json = "1.0.79"

bughouse_chess = { path = ".." }
