database_options: !Sqlite bughouse.db
secret_database_options: !Sqlite bughouse-secret.db
auth_options: !NoAuth
session_options: !WithSessions
  secret: !Literal "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  expire_in: 30d
static_content_url_prefix: http://localhost:8080
allowed_origin: Any
check_git_version: false
max_starting_time: null
