:root {
  --sq-size-primary: min(5vw, 9vh);
  --sq-size-secondary: calc(var(--sq-size-primary) / 1.5);
  --board-size-secondary: calc(var(--sq-size-secondary) * 8);
  --reserve-height-in-squares: 1.5;
}

html, body {
  font-family: Verdana, sans-serif;
  font-size: max(calc(var(--sq-size-primary) * 0.3), 6pt);
  background-color: #1c3a0c;
  color: #e0e0e0;
  height: 100%;
  width: 100%;
  overflow: hidden;  /* disable scroll bars */
}
html {
  display: table;
  margin: auto;
}
body {
  display: table-cell;
  vertical-align: middle;
}
svg {
  overflow: visible;  /* allow shadows outside of svg area */
}

#page {
  display: grid;
  grid-template-areas:
    "   fill-a       fill-x  prim-rsrv-top  fill-y     fill-k      fill-w      fill-p    "
    "   fill-a       fill-x  prim-rsrv-top  fill-y  scnd-rsrv-top  fill-w      fill-p    "
    "prim-name-top   fill-x  prim-rsrv-top  fill-y  scnd-rsrv-top  fill-w   scnd-name-top"
    "prim-clock-top  fill-x   prim-board    fill-y   scnd-board    fill-w  scnd-clock-top"
    "   fill-b       fill-x   prim-board    fill-y   scnd-board    fill-w      fill-q    "
    "   fill-b       fill-x   prim-board    score    scnd-board    fill-w      fill-q    "
    "   fill-b       fill-x   prim-board    fill-z   scnd-board    fill-w      fill-q    "
    "   fill-b       fill-x   prim-board    fill-z   scnd-board    fill-w  scnd-clock-bot"
    "   fill-b       fill-x   prim-board    fill-z  scnd-rsrv-bot  fill-w   scnd-name-bot"
    "   fill-b       fill-x   prim-board    fill-z  scnd-rsrv-bot  fill-w      fill-r    "
    "   fill-b       fill-x   prim-board    fill-z   info-panel    fill-w      fill-r    "
    "prim-clock-bot  fill-x   prim-board    fill-z   info-panel    fill-w      fill-r    "
    "prim-name-bot   fill-x  prim-rsrv-bot  fill-z     fill-m      fill-w      fill-r    "
    "   fill-c       fill-x  prim-rsrv-bot  fill-z     fill-m      fill-w      fill-r    "
  ;
  grid-template-columns:
    minmax(3em, 1fr)
    calc(var(--sq-size-primary) * 0.4)
    auto
    calc(var(--sq-size-primary) * 1.2)
    auto
    calc(var(--sq-size-primary) * 0.4)
    minmax(3em, 1fr)
  ;
  grid-template-rows:
    repeat(10, auto)
    1fr
    repeat(3, auto)
  ;
}

#board-primary { grid-area: prim-board; }
#reserve-primary-top { grid-area: prim-rsrv-top; }
#reserve-primary-bottom { grid-area: prim-rsrv-bot; }
#player-name-primary-top { grid-area: prim-name-top; }
#player-name-primary-bottom { grid-area: prim-name-bot; }
#clock-container-primary-top { grid-area: prim-clock-top; }
#clock-container-primary-bottom { grid-area: prim-clock-bot; }

#score { grid-area: score; }

#board-secondary { grid-area: scnd-board; }
#reserve-secondary-top { grid-area: scnd-rsrv-top; }
#reserve-secondary-bottom { grid-area: scnd-rsrv-bot; }
#player-name-secondary-top { grid-area: scnd-name-top; }
#player-name-secondary-bottom { grid-area: scnd-name-bot; }
#clock-container-secondary-top { grid-area: scnd-clock-top; }
#clock-container-secondary-bottom { grid-area: scnd-clock-bot; }

#info-panel { grid-area: info-panel; }

.board-shadow {
  fill: #808080;
  stroke: none;
  filter: url(#board-shadow);
}
.board-border {
  fill: none;
  stroke: #000000;
  stroke-width: 0.02;
}

.sq-black {
  fill: #e59349;
}
.sq-white {
  fill: #dfceb4;
}

.on-sq-black {
  fill: #dfceb4;
  font: normal 0.25px sans-serif;
}
.on-sq-white {
  fill: #e59349;
  font: normal 0.25px sans-serif;
}

#opponent-turn-from {
  fill: #acbd38;
  opacity: 0.5;
}
#opponent-turn-to,
#opponent-turn-to-extra {
  fill: #a7c000;
  opacity: 0.5;
}

#pre-turn-from {
  fill: #7238bd;
  opacity: 0.5;
}
#pre-turn-to,
#pre-turn-to-extra {
  fill: #5800c0;
  opacity: 0.5;
}

#drag-start-highlight {
  fill: url(#drag-start-gradient);
}
#drag-over-highlight {
  fill: url(#drag-over-gradient);
}

.draggable {
  cursor: grab;
}
.draggable.dragged {
  cursor: grabbing;
}

#board-primary {
  width: calc(var(--sq-size-primary) * 8);
  height: calc(var(--sq-size-primary) * 8);
  user-select: none;
  touch-action: none;
}
#board-secondary {
  width: calc(var(--sq-size-secondary) * 8);
  height: calc(var(--sq-size-secondary) * 8);
  user-select: none;
}
#reserve-primary-top,
#reserve-primary-bottom {
  width: calc(var(--sq-size-primary) * 8);
  height: calc(var(--sq-size-primary) * 1.5);
  user-select: none;
  touch-action: none;
}
#reserve-secondary-top,
#reserve-secondary-bottom {
  width: calc(var(--sq-size-secondary) * 8);
  height: calc(var(--sq-size-secondary) * 1.5);
  user-select: none;
}
.reserve {
  filter: url(#reserve-shadow);
}

#player-name-primary-top,
#player-name-primary-bottom {
  text-align: right;
}
#player-name-secondary-top,
#player-name-secondary-bottom {
  text-align: left;
}
#score,
.player-name {
  color: #a4b984;
  padding: calc(var(--sq-size-primary) * 0.1) 0;
}
#score {
  text-align: center;
  white-space: pre;
}

.clock {
  font-family: Monaco, monospace;
  font-size: 150%;
  text-align: center;
  white-space: nowrap;
  min-width: 3em;
  display: inline-block;
  border-radius: calc(var(--sq-size-primary) * 0.2);
  padding: calc(var(--sq-size-primary) * 0.05) calc(var(--sq-size-primary) * 0.1);
  margin: calc(var(--sq-size-primary) * 0.2)  0;
}
.clock-inactive {
  color: #909090;
  background-color: #28351f;
  outline: calc(var(--sq-size-primary) * 0.03) solid #74935f;
}
.clock-active {
  font-weight: bold;
  color: #f0f0f0;
  background-color: #1f5800;
  outline: calc(var(--sq-size-primary) * 0.1) outset #63ba25;
}
.clock-active.clock-low-time {
  font-weight: bold;
  color: #f0f0f0;
  background-color: #435700;
  outline: calc(var(--sq-size-primary) * 0.1) outset #ddd712;
}
.clock-flag {
  font-weight: bold;
  color: #909090;
  background-color: #691400;
  outline: calc(var(--sq-size-primary) * 0.1) solid #bf0000;
}

#clock-container-primary-top,
#clock-container-primary-bottom {
  text-align: right;
  padding: calc(var(--sq-size-primary) * 0.1) 0;
}
#clock-container-secondary-top,
#clock-container-secondary-bottom {
  text-align: left;
  padding: calc(var(--sq-size-primary) * 0.1) 0;
}

#info-panel {
  width: max(var(--board-size-secondary), 6em);
}
#info-string-container {
  flex: 1;
  margin-bottom: 0.5em;
  position: relative;
}
#info-string {
  font-size: 80%;
  white-space: pre-line;
  position: absolute;
  bottom: 0;
  left: 0;
}
#command {
  flex-grow: 1;
  box-sizing: border-box;
  background-color: #8ea36e;
  font-size: 1em;
}

#button-panel {
  width: max(var(--board-size-secondary), 6em);
  display: flex;
  flex-direction: row;
  gap: calc(var(--sq-size-primary) * 0.1);
}

.btn {
  box-sizing: border-box;
  padding: 0;
  border: none;
  border-radius: calc(var(--sq-size-primary) * 0.1);  /* for hover hightlight */
  background-color: transparent;
  width: calc(var(--sq-size-primary) * 0.4);
  height: calc(var(--sq-size-primary) * 0.4);
  cursor: pointer;
}
.btn:hover {
  background-color: #ffffff30;
}
.btn:active {
  background-color: #ffffff50;
}

.btn-icon {
  fill: #ffffff;
}
.btn-icon:active {
  fill: #ceffb4;
}
