name: Build

on: [push]

env:
  CARGO_TERM_COLOR: always

# Note. No need to specify `toolchain`: `actions-rs` uses `rust-toolchain`.
jobs:
  server:
    name: Server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: -r --package bughouse_console
      - uses: actions/upload-artifact@v4
        with:
          path: target/release/bughouse_console
          if-no-files-found: error
          # Workaround problem with version 4 of `actions/upload-artifact`. This
          # shouldn't be needed, since we only upload a bughouse_console binary
          # once per run. But for some reason I got "Failed to CreateArtifact:
          # Received non-retryable error: Failed request: (409) Conflict: an
          # artifact with this name already exists on the workflow run".
          overwrite: true

  client:
    name: Web client
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
      - run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - run: cd bughouse_wasm && wasm-pack build
      - run: cd www && npm install
      - run: cd www && npm run build
      - run: cd www && mkdir upload && mv dist upload/www-dist
      - uses: actions/upload-artifact@v4
        with:
          path: www/upload
          if-no-files-found: error
